{{ define "main" -}}
<div class="post">
  <h1>{{ .Title | markdownify }}</h1>
  <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}
  
  {{ if .Params.Cover }}
    <img src="{{ .Params.Cover | absURL }}" class="post-cover" alt="{{ .Title | plainify | default " " }}" />
  {{ end }}

  {{ if .Params.Toc }}
    <div class="table-of-contents">
      <h2>
        {{ if .Params.TocTitle }}
          {{ .Params.TocTitle }}
        {{ else if $.Site.Params.TocTitle }}
          {{ $.Site.Params.TocTitle }}
        {{ else }}
          Table of Contents
        {{ end }}
      </h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&nbsp;#</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>
  

  {{ if or .NextInSection .PrevInSection }}
    <div class="pagination">
        <div class="pagination__title">
            <span class="pagination__title-h">READ OTHER POSTS</span>
            <hr />
        </div>
        <div class="pagination__buttons">
            {{ if .NextInSection }}
            <div class="button previous">
                <a href="{{ .NextInSection.Permalink }}">
                    <span class="button__icon">←</span>
                    <span class="button__text">{{ .NextInSection.Title }}</span>
                </a>
            </div>
            {{ end }}
            {{ if .PrevInSection }}
            <div class="button next">
                <a href="{{ .PrevInSection.Permalink }}">
                    <span class="button__text">{{ .PrevInSection.Title }}</span>
                    <span class="button__icon">→</span>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
  {{ end }}
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
